<ion-view title="{{title}}">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
      <div class="list">
        <ion-item class="item-input">
          <input type="text" ng-model="day.name" placeholder="Name of Event">
        </ion-item>
        <ion-item class="item-input">
          <input type="number" ng-model="day.max" placeholder="Slots Available">
        </ion-item>
        <div class="item">
          <onezone-datepicker datepicker-object="datepicker">
            <button class="button button-block button-outline button-positive show-onezone-datepicker">
              {{datepicker.date | date:'dd MMMM yyyy'}}
            </button>
          </onezone-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button
            type="submit"
            class="button button-block button-balanced"
            ng-click="actionButton()"
            ng-disabled="!day.name || !day.max || !day.date">{{title}}</button>
        </div>
      </div>
    </ion-content>
</ion-view>
